html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    overflow: auto;
    margin: 0;
}

.header {
    text-align: center;
    font-size: 50px;
}

#root {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 3px;
    grid-row-gap: 5px;
}

#root img {
    width: 100%;
    transition: all 0.15s ease-out;
}

#root img:hover {
    transform: scale(1.2);
    border-radius: 10px;
    box-shadow: 0 0 2px 0 black;
}

.thumb {
    display: block;
    width: 20vw;
    height: 15vw;
    object-fit: cover;
}

.thumb:hover {
    cursor: pointer;
}

#pages {
    text-align: center;
    font-size: 35px;
}

#pages div {
    display: inline-block;
    color: #3d7e9a;
    margin: 0 5px;
}

#pages div:hover {
    cursor: pointer;
}

#pages div.active {
    color: #333;
}

/* modal */

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    user-select: none;
    transition: all 0.5s ease-out;
}

.modal.active {
    display: block;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.img-modal {
    position: absolute;
    border: 5px solid white;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    transition: all 0.4s ease-out;
    height: 25vw;
    max-width: 60vw;
    z-index: 1000;
}