html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  overflow: auto;
  margin: 0;
}

.header {
    text-align: center;
    font-size: 50px;
}

#root {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 3px;
    grid-row-gap: 5px;
}

#root img {
    width: 100%;
    /* height: 230px; */
    transition: all 0.15s ease-out;
}

#root img:hover {
  transform: scale(1.2);
  border-radius: 10px;
  box-shadow: 0 0 2px 0 black;
  
}

.thumb {
    display: block;
    width: 20vw;
    height: 35vh;
    object-fit: cover;
}

.thumb:hover {
    cursor: pointer;
}

#pages {
    text-align: center;
    font-size: 50px;
}

#pages div {
    display: inline-block;
    color: #3d7e9a;
}

#pages div:hover {
    cursor: pointer;
}

#pages div.active {
    color: #333;
}